<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TutorialsNinja Suite" parallel="methods" thread-count="1">
    <listeners>
        <listener class-name="Listeners.ListenerClass"/>
    </listeners>
    <parameter name="url" value="https://tutorialsninja.com/demo/">url</parameter>
    <test name="TutorialsNinja Tests">
        <classes>
            <class name="com.browserstack.TestClasses.Login"/>
        </classes>
    </test>
</suite>